# Python cache
__pycache__/
*.pyc

# Node-RED data
nodered_data/

# MinIO data
minio_data/

# RabbitMQ data
rabbitmq_data/

# Postgres data
postgres-data/

# Log files
*.log

# Environment variables
.env

# IDE / editor files
.vscode/
.idea/
*.swp
